<div class="container-fluid mb-5">
  <div class="table text-right margin-bottom:10px;">
    <a>
      <button class="btn btn-primary btn-fill">Create Order</button>
    </a>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label>
        <font size="3">Customer Infor</font>
      </label>
      <div class="thumbnail mb4">
        <div class="row">
          <div class="col-md-6">
            <div class="caption">
              <label>Customer ID: </label>
              <span id="od-span-customer-id">
                <%= customer.customer_id%>
              </span>
            </div>

            <div class="caption">
              <label>Email: </label>
              <span id="od-span-customer-id">
                <%= customer.email%>
              </span>
            </div>

            <div class="caption">
              <label>Name: </label>
              <span id="od-span-customer-id">
                <%= customer.customer_name%>
              </span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="thumbnail">
      <div class="caption">
        <label class="mb4">
          <font size="3">Detail Products</font>
        </label>
        <div class="table-responsive">
          <table id="table-product-receipt" class="table" style="width:100%">

            <thead>
              <tr class="bg-primary">
                <th width="20%" scope="rol" style="text-align:center"><strong>
                    <font color="#fff">Product ID</font>
                  </strong></th>
                <th width="40%" scope="rol" style="text-align:center"><strong>
                    <font color="#fff">Title</font>
                  </strong></th>
                <th width="20%" scope="rol" style="text-align:center"><strong>
                    <font color="#fff">Quantity</font>
                  </strong></th>
                <th width="20%" scope="rol" style="text-align:center"><strong>
                    <font color="#fff">Sub Total</font>
                  </strong></th>
              </tr>
            </thead>

            <tbody>
              <% items.forEach(item => {%>
              <tr name="product-brief-content" data-product-id="<%= item.product_id%>" style="cursor:pointer">
                <td style="text-align:center">
                  <a>
                    <%= item.product_id%>
                  </a></td>
                <td style="text-align:center">
                  <%= item.name%>
                </td>
                <td style="text-align:center">
                  <%= item.quantity_sold%>
                </td>
                <td style="text-align:center">
                  <strong>&dollar;
                    <%= item.price%></strong>
                </td>
              </tr>
              <tr name="collapsed-content-product-<%= item.product_id%>" style="cursor:pointer" class="active" hidden>
                <td style="vertical-align:middle;text-align:left;line-height:1.5;" colspan="2">
                  <strong>
                    <a href="/products/<%= item.product_id%>">
                      <%= item.name %></a></strong><br>
                  <strong>Price: </strong>
                  &dollar;
                  <%= item.price_per_unit%><br>
                  <strong>Category: </strong>
                  <%= item.category%><br>
                </td>
                <td style="vertical-align:middle;text-align:right;" colspan="2">
                  <button class="btn btn-primary" data-product-id="<%= item.product_id%>" name="od-btn-detail-product">More
                    Detail</button></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  $('tr[name=product-brief-content]').click(function (e) {
    $(`tr[name=collapsed-content-product-${$(this).data('product-id')}]`).toggle()
  })
  $('button[name=od-btn-detail-product]').click(function () {
    let product_id = $(this).data('product-id')
    let url = `/order/chart?product_id=${product_id}`
    window.location.href = url
  })
</script>