<div class="container-fluid">
  <div class="card-bg">
      <div class="card mt-3">
        <div class="card-content">
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7 row" id="lo-search">
              <div class="col-md-8">
                <input name="lo-input-search" placeholder="Search order id" class="form-control">
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary" name="lo-button-search">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- table -->
    <div class="table-holder" style="overflow: auto;">
      <table id="tb-list-orders" class="table table-condensed">
        <thead>
          <tr>
            <th width="30%" scope="col">Order ID</th>
            <th width="40%" scope="col">Date</th>
            <th width="30%" scope="col">Sub total</th>
          </tr>
        </thead>
        <tbody>
          <% orders.forEach(({receipt_id, paid, paid_time, customer_id}) => { %>
          <tr>
            <td style="vertical-align:middle" name="lo-td" data-receipt-id="<%= receipt_id%>" data-customer="<%= customer_id%>">
              <a>
                <%= receipt_id %></a>
            </td>
            <td style="vertical-align:middle">
              <%= paid_time%>
            </td>
            <td style="vertical-align:middle " class="td-number">
              <strong>&dollar;
                <%=paid%></strong></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>


    <div class="text-center" style="margin-bottom: 20px;">
      <div id="lp-div-change-page" current-offset="<%=current_offset%>" has-more="<%=has_more%>" class="btn-group btn-group-lg"
        role="group" aria-label="Basic example">
        <%if(current_offset == 0) { %>
        <button id="lp-button-previous-offset" type="button" class="btn btn-default disabled">◀</button>
        <% } else { %>
        <button id="lp-button-previous-offset" type="button" class="btn btn-default">◀</button>
        <% } %>
        <% if (has_more) { %>
        <button id="lp-button-next-offset" type="button" class="btn btn-default">▶</button>
        <% } else { %>
        <button id="lp-button-next-offset" type="button" class="btn btn-default disabled">▶</button>
        <% } %>
      </div>
    </div>
  </div>
</div>

<script>
  $('#lp-button-next-offset').click(function () {
    let has_more = $('#lp-div-change-page').attr('has-more')
    if (has_more == 'false') {
      alert('No more order')
    }
    else {
      let current_offset = Number($('#lp-div-change-page').attr('current-offset'))
      let url = `/orders?offset=${current_offset + 1}`
      window.location.href = url
    }
  })
  $('#lp-button-previous-offset').click(function () {
    let current_offset = Number($('#lp-div-change-page').attr('current-offset'))
    if (current_offset == 0) {
      alert('No more order')
    }
    else {
      let url = `/orders${current_offset - 1 == 0 ? '' : `?offset=${current_offset - 1}`}`
      window.location.href = url
    }
  })
  $('td[name=lo-td]').click(function () {
    let receipt_id = $(this).data('receipt-id')
    let customer_id = $(this).data('customer')
    console.log(customer_id)
    let condition = Object.assign({}, { customer_id })
    let query = []
    Object.keys(condition).map(key => {
      if (condition[key] != '') {
        query.push(`${key}=${condition[key]}`)
      }
    })
    query = query.join('&')
    if (query.length == 0) query = ''
    console.log(query)
    let url = `/orders/${receipt_id}?${query}`
    window.location.href = url
  })
  $('button[name=lo-button-search]').click(function () {
    let receipt_id = $('input[name=lo-input-search]').val()
    let condition = Object.assign({}, { receipt_id })
    let query = []
    Object.keys(condition).map(key => {
      if (condition[key] != '') {
        query.push(`${key}=${condition[key]}`)
      }
    })
    query = query.join('&')
    if (query.length == 0) query = ''
    url = `/orders${query != '' ? `/search?${query}` : ''}`
    window.location.href = url
  })
</script>