<!-- Markup -->
<div class="row" style="padding: 10px;">
  <div class="col-sm-3">
    <div class="overview card animated fadeInUp">
      <div class="card-header text-left">
        <h3 class="card-title">Best seller</h3>
        <p class="description">Highst number of orders </p>
      </div>
      <div class="card-content">
        <div class="caption">
          <label>
            <font color="#000">Month: </font>
          </label>
          <span>
            <font size="4">
              <%= best_month.month%>
            </font>
          </span>
        </div>
        <div class="caption">
          <label>
            <font color="#000">Sum total: </font>
          </label>
          <span>
            <font size="4">&dollar;
              <%= best_month.sum_total%>
            </font>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="overview card animated fadeInUp">
      <div class="card-header text-left">
        <h3 class="card-title">Worst seller</h3>
        <p class="description">Lowest number of orders</p>
      </div>
      <div class="card-content animated fadeInUp">
        <div class="caption">
          <label>
            <font color="#000">Month: </font>
          </label>
          <span>
            <font size="4">
              <%= worst_month.month%>
            </font>
          </span>
        </div>
        <div class="caption">
          <label>
            <font color="#000">Sum total: </font>
          </label>
          <span>
            <font size="4">&dollar;
              <%= worst_month.sum_total%>
            </font>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="overview card animated fadeInUp">
      <div class="card-header text-left">
        <h3 class="card-title">BK University</h3>
        <p class="description">Monthly best market</p>
      </div>
      <div class="card-content">
        <ol start="2">
          <li>Foreign Trade University <i>$120.9</i></li>
          <li>Vietnam National University <i>$120.1</i></li>
        </ol>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="overview card animated fadeInUp">
      <div class="card-header text-left">
        <h3 class="card-title">Revenue in 2018</h3>
        <p class="description">Revenue sum</p>
      </div>
      <div class="card-content">
        <div class="caption">
          <label>
            <font color="#000">Sum total: </font>
          </label>
          <span>
            <font size="4">&dollar;
              <%= sum_total_cate.sum_total%>
            </font>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 some-text" style="padding: 20px;"></div>

  <div class="col-sm-8">
    <div class="card linear-chart animated fadeInUp">
      <div class="card-header text-center">
        <h3 class="card-title">Sales Analytics</h3>
        <p class="description">Monthly revenue </p>
      </div>
      <div class="card-content chartshow">
        <div id="chartdiv-linear"></div>
      </div>
    </div>
  </div>


  <div class="col-sm-4">
    <div class="card pie-chart animated fadeInUp">
      <div class="card-header text-center">
        <h3 class="card-title">
          <font color="#000">Category Percentage Analytics</font>
        </h3>
        <p class="description"> Overall-percentages</p>
      </div>
      <div class="card-content">
        <div width="100%" height="100%" id="chartdiv-pie" allowfullscreen></div>
        <!-- <p class="description text-center">Best-seller: </p> -->

      </div>
    </div>
  </div>


</div>

<script>

  let category = '<%- category%>'
  let sold_category = JSON.parse(category)
  let chart_pie = anychart.pie()
  // chart_pie.title('Category Percentage Analytics')
  chart_pie.data(sold_category)
  chart_pie.container('chartdiv-pie')
  chart_pie.draw()

</script>