<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h3 class>Products</h3>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="input-group">
          <div class="input-group-btn">
            <div class="col-md-10">
              <div class="row" id="lp-search">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                  <input class="form-control" name="lp-input-search" placeholder="Search title of product">
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary" name="lp-button-search">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <table id="list-products" class="table table-condensed table-hover">
    <thead>
      <tr>
        <th width="7%" scope="col">ID</th>
        <th width="40%" scope="col">Title</th>
        <th width="10%" scope="col">Price</th>
        <th width="18%" scope="col">Instock</th>
        <th width="20%" scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(({product_id, name, category, price_per_unit, instock}) => { %>
      <tr>
        <!-- <td style="vertical-align:middle">
                    <img class="img-responsive img-thumbnail mx-auto d-block center-block" width="50px" />
                </td> -->
        <td style="vertical-align:middle">
          <%= product_id %>
        </td>
        <td style="vertical-align:middle">
          <%= name %>
        </td>
        <td style="vertical-align:middle">
          <%= price_per_unit %>
        </td>
        <td style="vertical-align:middle">
          <%= instock %>
        </td>
        <td style="vertical-align:middle">
          <%= category %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>

  <div class="text-center" style="margin-bottom: 20px;">
    <div id="lp-div-change-page" current-offset="<%=current_offset%>" has-more="<%=has_more%>" class="btn-group btn-group-lg"
      role="group" aria-label="Basic example">
      <%if(current_offset == 0) { %>
      <button id="lp-button-previous-offset" type="button" class="btn btn-default disabled">◀</button>
      <% } else { %>
      <button id="lp-button-previous-offset" type="button" class="btn btn-default">◀</button>
      <% } %>
      <% if (has_more) { %>
      <button id="lp-button-next-offset" type="button" class="btn btn-default">▶</button>
      <% } else { %>
      <button id="lp-button-next-offset" type="button" class="btn btn-default disabled">▶</button>
      <% } %>
    </div>
  </div>
</div>
<script>
  $('#lp-button-next-offset').click(function () {
    let has_more = $('#lp-div-change-page').attr('has-more')
    if (has_more == 'false') {
      alert('No more products')
    }
    else {
      let current_offset = Number($('#lp-div-change-page').attr('current-offset'))
      let url = `/products?offset=${current_offset + 1}`
      window.location.href = url
    }
  })

  $('#lp-button-previous-offset').click(function () {
    let current_offset = Number($('#lp-div-change-page').attr('current-offset'))
    if (current_offset == 0) {
      alert('No more products')
    }
    else {
      let url = `/products${current_offset - 1 == 0 ? '' : `?offset=${current_offset - 1}`}`
      window.location.href = url
    }
  })

  $('button[name=lp-button-search]').click(function () {
    let name = $('input[name=lp-input-search]').val()
    let condition = Object.assign({}, { name })
    let query = []
    Object.keys(condition).map(key => {
      if (condition[key] != '') {
        query.push(`${key}=${condition[key]}`)
      }
    })
    query = query.join('&')
    if (query.length == 0) query = ''
    url = `/products${query != '' ? `/search?${query}` : ''}`
    window.location.href = url
  })
</script>